body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

@media (min-width: 1280px) {
  .container {
    background-color: #fff;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1280px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #011827;
  color: #fff;
  padding: 1rem;
  position: relative;
}
@media (min-width: 800px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
  }
}
.header__toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3.6rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  z-index: 1001;
  background-color: #011827;
  border: none;
}
@media (min-width: 800px) {
  .header__toggle {
    display: none;
  }
}
.header__toggle span {
  display: block;
  height: 4.3px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.header__toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.header__toggle.open span:nth-child(2) {
  opacity: 0;
}
.header__toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.header__nav {
  position: fixed;
  top: 0;
  left: 25px;
  right: 25px;
  height: 90vh;
  background: #011827;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
  transition: transform 0.3s cubic-bezier(0.12, 0, 0.39, 0);
}
.header__nav.open {
  display: flex;
  font-size: 30px;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
@media (min-width: 800px) {
  .header__nav {
    display: block;
    grid-row: 2;
    padding: 0;
    position: static;
    height: auto;
    width: auto;
    background: none;
    font-size: 15px;
    opacity: 1;
    pointer-events: auto;
    transform: none;
  }
}
.header__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-weight: 700;
}
@media (min-width: 800px) {
  .header__menu {
    flex-direction: row;
    justify-content: center;
    gap: 9rem;
  }
}
.header__item {
  width: 100%;
  text-align: center;
}
@media (min-width: 800px) {
  .header__item {
    width: auto;
    text-align: left;
  }
}
.header__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.header__link:hover {
  color: #8ACFE5;
  text-decoration: underline;
}
.header__logo-wrapper {
  display: flex;
  align-items: center;
  margin-top: -20px;
}
.header__logo {
  margin-left: 15px;
  width: 100px;
  height: auto;
}
.header__title {
  font-size: 1.1rem;
  font-weight: 700;
  width: 100%;
  max-width: 100px;
}
@media (min-width: 800px) {
  .header__title {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 55px;
    max-width: 500px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .hero__image {
    overflow: hidden;
    width: 100%;
    height: 400px;
  }
}
.hero__image img {
  display: block;
  width: 100%;
}
@media (min-width: 800px) {
  .hero__image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 800px) {
  .hero__image {
    position: relative;
    overflow: visible;
    width: 100%;
  }
}
.hero__cta {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}
@media (min-width: 800px) {
  .hero__cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.hero__online {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  color: #36769D;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
@media (min-width: 800px) {
  .hero__text {
    display: none;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 1.5rem 1.2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
}
@media (min-width: 800px) {
  .button {
    font-size: 1.3rem;
    border-radius: 6px;
    padding: 0.9rem 0;
    min-width: 290px;
  }
}
.button--primary {
  background-color: #8ACFE5;
  color: #011827;
  font-weight: 700;
  text-decoration: none;
}
.button--secondary {
  display: none;
}
@media (min-width: 800px) {
  .button--secondary {
    display: inline-flex;
    background-color: #E3170A;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
  }
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 800px) {
  .testimonials {
    grid-template-columns: 1fr 1fr;
    margin: 100px 30px 0 30px;
  }
}
.testimonials .testimonial {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0 1rem 0.9rem;
}
@media (min-width: 800px) {
  .testimonials .testimonial {
    grid-template-columns: 1fr 2fr;
    justify-content: center;
  }
}
@media (min-width: 1027px) {
  .testimonials .testimonial {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
.testimonials .testimonial__image img {
  display: grid;
  border-radius: 50%;
  margin-top: 0;
  max-width: 73px;
}
@media (min-width: 1027px) {
  .testimonials .testimonial__image img {
    margin-left: 120px;
    margin-top: 1px;
  }
}
.testimonials .testimonial__content {
  margin-top: 0.1rem;
}
.testimonials .testimonial__quote {
  grid-area: 1;
  font-style: italic;
  font-size: 22px;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 100%;
}
@media (min-width: 800px) {
  .testimonials .testimonial__quote {
    margin-right: 0;
    margin-left: 0;
    max-width: 509px;
  }
}
.testimonials .testimonial__person {
  font-size: 0.85rem;
  color: #555;
  margin-top: -20px;
}
@media (min-width: 800px) {
  .testimonials .testimonial__person {
    font-weight: 400;
    margin-top: -20px;
    width: 210px;
  }
}
.testimonials .testimonial--hidden-md {
  display: none;
}
@media (min-width: 800px) {
  .testimonials .testimonial--hidden-md {
    display: grid;
  }
}

.challenges__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.challenges__text h2 {
  text-align: center;
  font-weight: 400;
}

.challenge-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 1200px;
}
@media (min-width: 800px) {
  .challenge-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .challenge-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

.challenge-card {
  display: grid;
  grid-template-areas: "image" "title" "wrapper" "text" "button";
  grid-template-columns: 1fr;
  gap: 0.75rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 380px;
}
.challenge-card--hidden-md {
  display: none;
}
@media (min-width: 800px) {
  .challenge-card--hidden-md {
    display: grid;
  }
}
.challenge-card--hidden-xl {
  display: none;
}
@media (min-width: 1280px) {
  .challenge-card--hidden-xl {
    display: grid;
  }
}
.challenge-card__title {
  grid-area: title;
  font-size: 28px;
  padding: 0 1rem;
  margin-top: 0.5rem;
}
.challenge-card__image {
  grid-area: image;
}
.challenge-card__image img {
  display: block;
  width: 100%;
  height: auto;
}
.challenge-card__wrapper {
  grid-area: wrapper;
  display: grid;
  grid-template-areas: "rating participants";
  grid-template-columns: 1fr auto;
  margin: -40px 0 0 20px;
}
.challenge-card__rating {
  grid-area: rating;
  color: #E3170A;
  font-size: 1.5rem;
}
.challenge-card__participants {
  color: black;
  font-size: 12px;
  font-weight: 400;
  margin-right: 180px;
  width: 100%;
}
@media (min-width: 800px) {
  .challenge-card__participants {
    margin-right: 20px;
  }
}
.challenge-card__text {
  grid-area: text;
  font-size: 18px;
  padding: 0 2rem;
}
.challenge-card__button {
  display: inline-block;
  grid-area: button;
  text-align: center;
  background-color: #E3170A;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 0.9rem 0;
  margin: 0 20px -10px 170px;
  width: 200px;
}

.promo__buttons {
  display: flex;
  justify-content: center;
}
@media (min-width: 1027px) {
  .promo__buttons {
    justify-content: center;
    gap: 1rem;
    margin: 80px 300px;
  }
}

.article {
  background-color: #011827;
  width: 100%;
}
.article__text {
  color: #fff;
  text-align: center;
  font-size: 28px;
  padding: 40px;
}
@media (min-width: 800px) {
  .article__text {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 632px;
  }
}
.article__wrapper__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
}
.article__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #011827;
  color: #8ACFE5;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid #8ACFE5;
  border-radius: 4px;
  margin-bottom: 80px;
  width: 260px;
  height: 66px;
}

@media (min-width: 800px) {
  .promo-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
.promo-section__image img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}
@media (min-width: 1280px) {
  .promo-section__image img {
    max-width: 640px;
  }
}
.promo-section__content {
  margin: 24px 18px 40px 20px;
}
@media (min-width: 800px) {
  .promo-section__content {
    margin: 0 auto;
    max-width: 416px;
  }
}
@media (min-width: 1280px) {
  .promo-section__content {
    margin: 20px auto;
  }
}
.promo-section__title {
  font-size: 32px;
}
.promo-section__text {
  font-size: 24px;
}
.promo-section__button {
  background-color: #E3170A;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 10px 51px;
  cursor: pointer;
}
@media (min-width: 800px) {
  .promo-section--reverse .promo-section__image {
    order: 2;
  }
  .promo-section--reverse .promo-section__content {
    order: 1;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #011827;
  color: #fff;
  font-size: 18px;
  padding: 6rem 0 0 4rem;
  margin-top: 3rem;
}
@media (min-width: 800px) {
  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
}
@media (min-width: 800px) {
  .footer__section {
    margin-bottom: 90px;
    width: 100%;
  }
}
@media (min-width: 800px) {
  .footer__section--primary {
    margin-left: 40%;
  }
}
.footer__title {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.footer__text {
  line-height: 1.5;
  margin: 0;
}
@media (min-width: 800px) {
  .footer__text {
    max-width: 416px;
  }
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0.3rem;
}
.footer__list li a {
  color: #fff;
  text-decoration: none;
}
.footer__list li a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
