//breakpoints
$breakpoints: (
  small: 600px,
  medium: 800px,
  large: 1027px,
  xl: 1280px
);

//color palette
$color-primary: #011827;
$color-secondary: #8ACFE5;
$color-accent: #E3170A;
$color-light: #fff;

//base font
$font-base: "Roboto", sans-serif;

//font-weight tokens
$font-weight-regular: 400;
$font-weight-bold: 700;

//font-weight tokens
$font-weight-body-bold:$font-weight-bold;
$font-weight-body-regular:$font-weight-regular;
$font-weight-title:$font-weight-bold;
$font-weight-nav:$font-weight-bold;
$font-weight-button:$font-weight-bold;