$small-screen-breakpoints: 600px;
$medium-screen-breakpoints: 800px;
$large-screen-breakpoints: 1027px;
$xl-screen-breakpoints: 1280px;

//Färgvariabler
$color-primary: #011827;
$color-secondary: #8ACFE5;
$color-accent: #E3170A;
$color-light: #fff;
$color-dark: #000;


body {
  margin: 0;
  background-color: $color-light;
  font-family: "Roboto", sans-serif;
}

.container {
  @media screen and (min-width: $xl-screen-breakpoints) {
    max-width: 1280px;
    margin: 0 auto;
    background-color: $color-light;
    padding: 1rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $color-primary;
  color: $color-light;

  @media screen and (min-width: $small-screen-breakpoints) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 100px;
    height: auto;
/*
    @media screen and (min-width: $medium-screen-breakpoints) {
      grid-row: 1;
    }*/
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    max-width: 100px;

    @media screen and (min-width: $medium-screen-breakpoints) {
      max-width: 500px;
      margin-top: 55px;
      font-size: 30px;
      margin-left: 20px;
    }
  }

  &__nav {
    display: none;

    @media screen and (min-width: $medium-screen-breakpoints) {
      grid-row: 2;
      display: block;
    }
  }

  &__menu {

    @media screen and (min-width: $medium-screen-breakpoints) {
      display: flex;
      gap: 9rem;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: center;
    }
  }

  &__link {

    &:hover {
      text-decoration: underline;
      color: $color-secondary;
    }

    @media screen and (min-width: $medium-screen-breakpoints) {
      color: $color-light;
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;

  &__image {
    img {
      width: 100%;
      display: block;

      @media (min-width: $medium-screen-breakpoints) {
        height: auto;
       
      }
    }

    @media (min-width: $medium-screen-breakpoints) {
      position: relative;
      width: 100%;
    
      overflow: visible;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;

    @media (min-width: $medium-screen-breakpoints) {
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__online {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 16px;
  }

  &__text {
    @media (min-width: $medium-screen-breakpoints) {
      display: none;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.2rem;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  width: 100%;
  max-width: 250px;

  @media (min-width: $medium-screen-breakpoints) {
    padding: 1.2rem 3rem;
    font-size: 1.3rem;
    border-radius: 6px;
    min-width: 300px;
  }

  &--primary {
    font-weight: bold;
    background-color: $color-secondary;
    color: $color-primary;
  }

  &--secondary {
    display: none;

    @media (min-width: $medium-screen-breakpoints) {
      display: inline-flex; // inline-flex gör att innehållet centreras
      background-color: $color-accent;
      color: $color-light;
    }
  }
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: $medium-screen-breakpoints) {
    grid-template-columns: 1fr 1fr;
    margin: 100px 30px 0 30px;
  }

  .testimonial {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0 1rem 0.9rem;

    @media screen and (min-width: $medium-screen-breakpoints) {
      grid-template-columns: 1fr 2fr;
      justify-content: center;
    }

    @media screen and (min-width: $medium-screen-breakpoints) {
      padding: 0;
      max-width: 530px;
      margin: 0;
    }

    &__image {
      img {
        max-width: 73px;
        border-radius: 50%;
        display: block;

        @media screen and (min-width: $medium-screen-breakpoints) {
          margin-left: 90px;
        }
      }
    }

    &__content {
      margin-top: 1.4rem;
    }

    &__quote {
      grid-area: 1;
      font-style: italic;
      font-size: 24px;
      margin: 0;

      @media screen and (min-width: $medium-screen-breakpoints) {
        margin-bottom: 1rem;
        max-width: 409px;
      }
    }

    &__person {
      font-size: 0.85rem;
      color: #555;
      margin-top: 0;

      @media screen and (min-width: $medium-screen-breakpoints) {
        margin: 0;
        font-weight: 400;
      }
    }

    &:nth-child(2) {
      display: none;

      @media screen and (min-width: $medium-screen-breakpoints) {
        display: grid;
      }
    }
  }
}

.challenges {
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    h2 {
      text-align: center;
    }
  }
}

.challenge-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;

  @media screen and (min-width:  $medium-screen-breakpoints) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width:  $large-screen-breakpoints) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.challenge-card {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "wrapper"
    "text"
    "button";
  grid-template-columns: 1fr;
  gap: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  background: $color-light;
  max-width: 380px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;

  &:nth-child(2),
  &:nth-child(3) {
    display: none;
  }

  // Media query för desktop
  @media screen and (min-width:  $medium-screen-breakpoints) {
    &:nth-child(2) {
      display: grid;
      grid-template-areas:
        "image"
        "title"
        "text"
        "button";
    }
  }

  @media screen and (min-width:  $large-screen-breakpoints) {
    &:nth-child(3) {
      display: grid;
      grid-template-areas:
        "image"
        "title"
        "text"
        "button";
    }
  }

  &__title {
    grid-area: title;
    font-size: 28px;
    padding: 0 1rem;
    margin-top: 0.5rem;
  }

  &__image {
    grid-area: image;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__wrapper {
    grid-area: wrapper;
    display: grid;
    grid-template-areas: "rating participants";
    grid-template-columns: 1fr 1fr;
    margin: -40px 0 0 20px;
  }

  &__rating {
    grid-area: rating;
    color: $color-accent;
    font-size: 1.5rem;
  }

  &__participants {

    font-weight: 600;
    width: 100%;
    color: black;
    margin: 0.6rem 0 0.3rem;
    font-size: 12px;
  }

  &__text {
    grid-area: text;
    font-size: 18px;
    padding: 0 2rem;
  }

  &__button {
    grid-area: button;
    background-color: $color-accent;
    color: $color-light;
    border: none;
    border-radius: 4px;
    width: 200px;
    padding: 0.9rem 0;
    font-weight: 700;
    cursor: pointer;
    margin: 0 20px 0 170px;
    font-size: 16px;
  }
}

.promo {
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;

    @media (min-width:  $large-screen-breakpoints) {
      justify-content: center;
      gap: 1rem;
      max-height: 66px;
      max-width: 308px;
      margin: 0 auto; // centrera istället för margin-left/right: 50%
    }
  }
}

.article {
  background-color: $color-primary;
  width: 100%;

  &__text {
    padding: 40px;
    color: $color-light;
    text-align: center;
    font-size: 28px;

    @media screen and (min-width:  $medium-screen-breakpoints) {
      max-width: 632px;
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  &__wrapper__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 0;
  }

  &__button {
    border: 2px solid $color-secondary;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    background-color: $color-primary;
    color: $color-secondary;
    margin-bottom: 80px;
    max-width: 308px;
    max-height: 66px;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.promo-section {
  @media (min-width:  $medium-screen-breakpoints) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  &__image {
    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;

      @media screen and (min-width: $xl-screen-breakpoints){
        max-width: 640px;
      }
    }
  }

  &__content {
    margin: 24px 18px 10px 20px;

    @media screen and (min-width:  $medium-screen-breakpoints) {
      max-width: 416px;
      margin: 0 auto;
    }

    @media screen and (min-width:  $xl-screen-breakpoints) {
      margin: 20px auto;
    }
  }

  &__title {
    font-size: 32px;
  }

  &__text {
    font-size: 24px;
  }

  &__button {
    background-color: $color-accent;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    color: $color-light;
    font-weight: bold;
    padding: 10px 51px;
    cursor: pointer;
  }

  &--reverse {
    @media screen and (min-width:  $medium-screen-breakpoints) {
      .promo-section__image {
        order: 2;
      }

      .promo-section__content {
        order: 1;
      }
    }
  }
}

.footer {
  background-color: $color-primary;
  color:$color-light;
  font-size: 18px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (min-width:  $medium-screen-breakpoints) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  &__section {
    @media screen and (min-width:  $medium-screen-breakpoints) {
      margin-left: 30%;
      margin-top: 30px;
      margin-bottom: 90px;
      width: 100%;
    }
  }

  &__section--primary {
    @media screen and (min-width:  $medium-screen-breakpoints) {
      margin-left: 80%;
      width: 100%;
      margin-top: 30px;
    }
  }

  &__title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.1em;
  }

  &__text {
    line-height: 1.5;
    margin: 0;

    @media screen and (min-width:  $medium-screen-breakpoints) {
      max-width: 416px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0.3rem;

    li {
      a {
        color: $color-light;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}