$bg-color: rgb(30, 8, 36);

body {
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.container {
  @media screen and  (min-width: 1280px) {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0b1622;
  color: white;

  @media screen and  (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
  }


  &__logo-wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 100px;
    height: auto;

    @media screen and  (min-width: 800px) {
      grid-row: 1;
    }
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    max-width: 100px;

    @media screen and (min-width: 800px) {
      max-width: 500px;
      margin-top: 55px;
      font-size: 30px;
      margin-left: 20px;
    }
  }

  &__nav {
    display: none;

    @media screen and  (min-width: 800px) {
      grid-row: 2;
      display: block;
    }
  }

  &__menu {
    @media screen and  (min-width: 800px) {
      display: flex;
      gap: 9rem;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: center;
    }
  }

  &__link {
    
      &:hover {
        text-decoration: underline;
        color: #8ACFE5;
      }
    @media screen and  (min-width: 800px) {
      color: white;
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;

  &__image {
    @media screen and  (min-width: 800px) {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: visible;
    }

    img {
      width: 100%;

      @media screen and  (min-width: 800px) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;

    @media screen and  (min-width: 800px) {
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .button {
      display: flex; // detta blir .hero__buttons .button
    }
  }
}

.button {
  padding: 1.5rem 1.2rem;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  width: 100%;
  max-width: 250px;

  @media screen and  (min-width: 800px) {
    padding: 1.2rem 3rem;
    font-size: 1.3rem;
    border-radius: 6px;
    min-width: 300px;
  }

  &.button--primary {
    font-weight: bold;
    background-color: #8ACFE5;
    color: #011827;
  }

  &.button--secondary {
    display: none;

    @media screen and  (min-width: 800px) {
      display: inline-block;
      background-color: #e63946;
      color: #fff;
    }
  }
}

.hero {
  &__on-site {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 16px;
  }

  &__text {
    @media screen and  (min-width: 800px) {
      display: none;
    }
  }
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and  (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
    margin: 100px 30px 0 30px;
  }

  .testimonial {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0 1rem 0.9rem;

    @media screen and  (min-width: 800px) {
      grid-template-columns: 1fr 2fr;
      justify-content: center;
      gap: 0.5rem;
    }

    @media screen and  (min-width: 1280px) {
      padding: 0;
      max-width: 530px;
      margin: 0;
    }

    &__image {
      img {
        grid-area: 1;
        max-width: 73px;
        border-radius: 50%;
        display: flex;
        align-items: flex-start;

        @media screen and  (min-width: 800px) {
          display: block;
          margin: 0 0 0 90px;
        }

        @media screen and  (min-width: 1280px) {
          margin: 0 0 0 90px;
        }
      }
    }

    &__content {
      margin-top: 1.4rem;
    }

    &__quote {
      grid-area: 1;
      font-style: italic;
      margin-left: 0;
      font-size: 24px;
      margin-bottom: 0;

      @media screen and  (min-width: 800px) {
        margin-bottom: 1rem;
        max-width: 409px;
        margin: 0;
      }
    }

    &__person {
      font-size: 0.85rem;
      color: #555;
      margin-top: 0;

      @media screen and  (min-width: 800px) {
        font-weight: 500;
        color: #555;
        margin: 0;
      }
    }

    // Här är det rätt placerat och rätt stängt
    &:nth-child(2) {
      display: none;


      @media screen and  (min-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}

.challenges {

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    h2 {
      text-align: center;
    }
  }
}

.challenge-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;

  @media screen and  (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and  (min-width: 1027px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.challenge-card {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "wrapper"
    "text"
    "button";
  grid-template-columns: 1fr;
  gap: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  max-width: 380px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;

  &:nth-child(2),
  &:nth-child(3) {
    display: none;
  }

  // Media query för desktop
  @media screen and  (min-width: 800px) {
    &:nth-child(2) {
      display: grid;
      grid-template-areas:
        "image"
        "title"
        "text"
        "button";
    }
  }

  @media screen and  (min-width: 1027px) {
    &:nth-child(3) {
      display: grid;
      grid-template-areas:
        "image"
        "title"
        "text"
        "button";
    }
  }

  &__title {
    grid-area: title;
    font-size: 28px;
    padding: 0 1rem;
    margin-top: 0.5rem;
  }


  &__image {
    grid-area: image;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__wrapper {
    grid-area: wrapper;
    display: grid;
    grid-template-areas: "rating participants";
    grid-template-columns: 1fr 1fr;
    margin: -40px 0 0 20px;
  }

  &__rating {
    grid-area: rating;
    color: #E63946;
    font-size: 1.5rem;
  }

  &__participants {
    grid-area: participants;
    font-weight: 600;
    display: block;
    /* gör att den tar hela raden */
    width: 100%;
    /* fyller hela grid-ytan */
    color: black;
    margin: 0.6rem 12rem 0.3rem 0;
    font-size: 12px;
  }

  &__text {
    grid-area: text;
    font-size: 18px;
    padding: 0 2rem;
  }

  &__button {
    grid-area: button;
    background-color: #E63946;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 200px;
    padding: 0.9rem 0;
    font-weight: 700;
    cursor: pointer;
    margin: 0 20px 0 170px;
    font-size: 16px;
    text-align: center;
    display: block;
  }
}

.promo {
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }

  @media screen and  (min-width: 1027px) {
    display: flex;
    justify-content: center;
    max-height: 66px;
    max-width: 308px;
    gap: 1rem;
    margin-left: 50%;
    margin-right: 50%;
  }
}

/*
.button {
  padding: 1.5rem 1.2rem;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  width: 100%;
  max-width: 250px;
}TROR INTE ATT JAG BEHÖVER DENNA KOD*/


.article {
  background-color: #011827;
  width: 100%;

  &__text {
    padding: 40px;
    color: white;
    text-align: center;
    font-size: 28px;

    @media screen and  (min-width: 800px) {
      max-width: 632px;
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  &__wrapper__button {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    margin-bottom: 0;
  }

  &__button {
    border: 2px solid #8ACFE5;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    background-color: #011827;
    color: #8ACFE5;
    margin-bottom: 80px;
    max-width: 308px;
    max-height: 66px;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.promo-section {

  // Layout för hela sektionen
  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  &__image {
    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;

      @media screen and  (min-width: 1280px) {
        max-width: 640px;
      }

    }
  }

  &__content {
    margin: 24px 18px 10px 20px;

    @media screen and  (min-width: 800px) {
      max-width: 416px;
      margin: 0 auto;
    }

    @media screen and  (min-width: 1280px) {
      max-width: 416px;
      margin: 20px auto;
    }

  }

  &__title {
    font-size: 32px;

    @media screen and  (min-width: 800px) {
      font-size: 25px;
    }

    @media screen and  (min-width: 1280px) {
      font-size: 32px;
    }

  }

  &__text {
    font-size: 24px;

    @media screen and  (min-width: 800px) {
      font-size: 20px;

    }

    @media screen and  (min-width: 1280px) {
      font-size: 24px;
    }
  }

  &__button {
    background-color: red;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    color: #fff;
    font-weight: bold; // rätt egenskap
    padding: 10px 51px;
    cursor: pointer;
  }

  // Modifierare
  &--reverse {
    @media screen and  (min-width: 800px) {
      .promo-section__image {
        order: 2;
      }

      .promo-section__content {
        order: 1;
      }
    }
  }
}

.footer {
  background-color: #011827;
  color: white;
  font-size: 18px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and  (min-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  &__section {
    @media screen and  (min-width: 800px) {
      margin-left: 30%;
      margin-top: 30px;
      margin-bottom: 90px;
      width: 100%;
    }

  }

  &__section--primary {
    @media screen and  (min-width: 800px) {
      margin-left: 80%;
      width: 100%;
      margin-top: 30px;
    }
  }

  &__title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.1em;
  }

  &__text {
    line-height: 1.5;
    margin: 0;

    @media screen and  (min-width: 800px) {
      max-width: 416px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0.3rem 0;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}