@import "variables";
@import "mixins";

body {
  background-color: $color-light;
  font-family: $font-base;
  margin: 0;
}

.container {
  @include respond(xl) {
    background-color: $color-light;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1280px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  color: $color-light;
  padding: 1rem;
  position: relative;

  @include respond(medium) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
  }

  &__toggle {
    position: relative;
    top: -1rem;
    right: 0.1rem;
    width: 3.6rem;
    height: 2rem;
    /*display: flex;
    flex-direction: column;
    justify-content: center; // ändrat
    gap: 2px;*/
    cursor: pointer;
    z-index: 1001;
    background-color: $color-primary;
    border: none;

    @include respond(medium) {
      display: none; // göm på desktop
    }
 span {
    position: absolute;
    left: 0;
    right: 0;
    height: 6px;
    border-radius: 10px;
    background: $color-light;
  }

  span:nth-child(1) { top: 0; }
  span:nth-child(2) { top: 50%; transform: translateY(-50%); }
  span:nth-child(3) { bottom: 0; }

  &.open span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &.open span:nth-child(2) {
    opacity: 0;
  }

  &.open span:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  }

  &__nav {
    position: fixed; // ligger ovanpå allt
    top: 0;
    left: 25px;
    right: 25px;
    height: 90vh;
    background: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transform: scale(0.95); // lite mindre
    pointer-events: none; // går inte att klicka
    transition: transform 0.3s cubic-bezier(0.12, 0, 0.39, 0);

    &.open {
      display: flex;
      font-size: 30px;
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
    }

    @include respond(medium) {
      display: block;
      grid-row: 2;
      padding: 0;
      position: static;
      height: auto;
      width: auto;
      background: none;
      font-size: 15px;
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    font-weight: $font-weight-nav;

    @include respond(medium) {
      flex-direction: row; // tillbaka till horisontell layout på desktop
      justify-content: center;
      gap: 9rem;

    }
  }

  &__item {
    width: 100%;
    text-align: center;

    @include respond(medium) {
      width: auto;
      text-align: left;
    }
  }

  &__link {
    color: $color-light;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $color-secondary;
      text-decoration: underline;
    }
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    margin-top: -20px;
  }

  &__logo {
    margin-left: 15px;
    width: 100px;
    height: auto;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: $font-weight-title;
    width: 100%;
    max-width: 100px;

    @include respond(medium) {
      font-size: 30px;
      margin-left: 20px;
      margin-top: 55px;
      max-width: 500px;
    }
  }
}


.hero {
  display: flex;
  flex-direction: column;

  &__image {
    @include respond(medium) {
      overflow: hidden;
      width: 100%;
      height: 400px;
    }

    img {
      display: block;
      width: 100%;


      @include respond(medium) {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    @include respond(medium) {
      position: relative;
      overflow: visible;
      width: 100%;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;

    @include respond(medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__online {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    color: #36769D;
    font-size: 16px;
    font-weight: $font-weight-body-bold;
    text-decoration: underline;
  }

  &__text {
    @include respond(medium) {
      display: none;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 1.5rem 1.2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 250px;

  @include respond(medium) {
    font-size: 1.3rem;
    border-radius: 6px;
    padding: 0.9rem 0;
    min-width: 290px;
  }

  &--primary {
    background-color: $color-secondary;
    color: $color-primary;
    font-weight: $font-weight-button;
    text-decoration: none;
  }

  &--secondary {
    display: none;

    @include respond(medium) {
      display: inline-flex;
      background-color: $color-accent;
      color: $color-light;
      font-weight: $font-weight-button;
      text-decoration: none;
    }
  }
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;


  @include respond(medium) {
    grid-template-columns: 1fr 1fr;
    margin: 100px 30px 0 30px;
  }

  .testimonial {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0 1rem 0.9rem;

    @include respond(medium) {
      grid-template-columns: 1fr 2fr;
      justify-content: center;
    }

    @include respond(large) {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    &__image {
      img {
        display: grid;
        border-radius: 50%;
        margin-top: 0;
        max-width: 73px;

        @include respond(large) {
          margin-left: 120px;
          margin-top: 1px;
        }
      }
    }

    &__content {
      margin-top: 0.1rem;
    }

    &__quote {
      grid-area: 1;
      font-style: italic;
      font-size: 22px;
      margin-right: 10px;
      margin-left: 10px;
      max-width: 100%;

      @include respond(medium) {
        margin-right: 0;
        margin-left: 0;
        max-width: 509px;
      }
    }

    &__person {
      font-size: 0.85rem;
      color: #555;
      margin-top: -20px; // mindre avstånd till citatet

      @include respond(medium) {
        font-weight: $font-weight-body-regular;
        margin-top: -20px;
        width: 210px;
      }
    }

    &--hidden-md {
      display: none;

      @include respond(medium) {
        display: grid;
      }
    }
  }
}

.challenges {
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    h2 {
      text-align: center;
      font-weight: $font-weight-body-regular;
    }
  }
}

.challenge-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 1200px;

  @include respond(medium) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond(xl) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

.challenge-card {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "wrapper"
    "text"
    "button";
  grid-template-columns: 1fr;
  gap: 0.75rem;
  background: $color-light;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 380px;

  &--hidden-md {
    display: none;

    @include respond(medium) {
      display: grid; // eller flex beroende på din layout
    }
  }

  &--hidden-xl {
    display: none;

    @include respond(xl) {
      display: grid;
    }
  }

  &__title {
    grid-area: title;
    font-size: 28px;
    padding: 0 1rem;
    margin-top: 0.5rem;
  }

  &__image {
    grid-area: image;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__wrapper {
    grid-area: wrapper;
    display: grid;
    grid-template-areas: "rating participants";
    grid-template-columns: 1fr auto;
    margin: -40px 0 0 20px;
  }

  &__rating {
    grid-area: rating;
    color: $color-accent;
    font-size: 1.5rem;
  }

  &__participants {
    color: black;
    font-size: 12px;
    font-weight: $font-weight-body-regular;
    margin-right: 180px;
    width: 100%;

    @include respond(medium) {
      margin-right: 20px;
    }
  }

  &__text {
    grid-area: text;
    font-size: 18px;
    padding: 0 2rem;
  }

  &__button {
    display: inline-block;
    grid-area: button;
    text-align: center;
    background-color: $color-accent;
    color: $color-light;
    font-size: 16px;
    font-weight: $font-weight-bold;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding: 0.9rem 0;
    margin: 0 20px -10px 170px;
    width: 200px;
  }
}

.promo {
  &__buttons {
    display: flex;
    justify-content: center;

    @include respond(large) {
      justify-content: center;
      gap: 1rem;
      margin: 80px 300px;
    }
  }
}

.article {
  background-color: $color-primary;
  width: 100%;

  &__text {
    color: $color-light;
    text-align: center;
    font-size: 28px;
    padding: 40px;

    @include respond(medium) {
      margin-left: 20%;
      margin-right: 20%;
      max-width: 632px;
    }
  }

  &__wrapper__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 24px;
    font-weight: $font-weight-button;
    text-decoration: none;
    border: 2px solid $color-secondary;
    border-radius: 4px;
    margin-bottom: 80px;
    width: 260px;
    height: 66px;
  }
}

.promo-section {
  @include respond(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  &__image {
    img {
      display: block;
      margin: 0;
      width: 100%;
      height: auto;

      @include respond(xl) {
        max-width: 640px;
      }
    }
  }

  &__content {
    margin: 24px 18px 40px 20px;

    @include respond(medium) {
      margin: 0 auto;
      max-width: 416px;
    }

    @include respond(xl) {
      margin: 20px auto;
    }
  }

  &__title {
    font-size: 32px;
  }

  &__text {
    font-size: 24px;
  }

  &__button {
    background-color: $color-accent;
    color: $color-light;
    font-size: 24px;
    font-weight: $font-weight-button;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding: 10px 51px;
    cursor: pointer;
  }

  &--reverse {
    @include respond(medium) {
      .promo-section__image {
        order: 2;
      }

      .promo-section__content {
        order: 1;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $color-primary;
  color: $color-light;
  font-size: 18px;
  padding: 6rem 0 0 4rem;
  margin-top: 3rem;

  @include respond(medium) {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  &__section {
    @include respond(medium) {
      margin-bottom: 90px;
      width: 100%;
    }
  }

  &__section--primary {
    @include respond(medium) {
      margin-left: 40%;
    }
  }

  &__title {
    font-size: 1.1em;
    font-weight: $font-weight-title;
    margin-bottom: 0.5rem;
  }

  &__text {
    line-height: 1.5;
    margin: 0;

    @include respond(medium) {
      max-width: 416px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0.3rem;

    li {
      a {
        color: $color-light;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}